:root {
  --dark-not-black: #2f3136;
  --off-white: #f6f6f6;
  --not-quite-black: #202225;
  --manatee: #b7e2d6;
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-not-black: #f2f3f5;
    --off-white: rgb(32, 34, 37);
    --not-quite-black: #e3e5e8;
    --manatee: #8fc5b7;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark-not-black);
  color: var(--off-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section.hero {
  margin: 10em 0;
  text-align: center;
}

.hero * {
  margin: 5px 0;
}

section.hero h1 {
  color: var(--manatee);
  font-weight: bold;
  font-size: 4em;
}

span.keyword {
  color: var(--manatee);
  font-weight: bold;
  text-transform: uppercase;
}
