:root {
  --dark-not-black: rgb(47, 49, 54);
  --off-white: #f6f6f6;
  --not-quite-black: rgb(32, 34, 37);
  --manatee: rgb(183, 226, 214);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark-not-black);
  color: var(--off-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section.hero {
  margin: 10em 0;
  text-align: center;
}

section.hero p {
  margin: 0;
}

section.hero h1 {
  color: var(--manatee);
  font-weight: bold;
  font-size: 4em;
  margin: 0;
}

span.keyword {
  color: var(--manatee);
  font-weight: bold;
}
