:root {
  --dark-not-black: #2c2f33;
  --off-white: #f6f6f6;
  --not-quite-black: #23272a;
  --manatee: rgb(183, 226, 214);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--dark-not-black);
  color: var(--off-white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
