.navbar {
  display: flex;
  flex-direction: row;
  height: 3em;
  padding: 0 2em;
  justify-content: space-between;
  background-color: var(--not-quite-black);
  flex-wrap: wrap;
}

.navbar img {
  height: 2.5em;
  width: auto;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
}

.userinfo {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.userinfo img {
  border-radius: 50%;
  height: 2em;
}
