.list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.list fieldset {
  background-color: #2f3136;
  border: 0.5px solid;
  border-radius: 5px;
  padding: 0.5em;
}

.header {
  cursor: default;
}

.list ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list li p {
  font-size: 0.8em;
  margin: 0;
}

.header h3 {
  margin: 0;
}

.header span {
  background-color: #202225;
  border-radius: 5px;
  padding: 0.25em;
  font-size: 0.75em;
  font-weight: normal;
  margin: 0 0.25em;
}
