.hero {
  width: 70vw;
  margin: 3em auto;
}

.hero h1 {
  color: var(--manatee);
}

.hero * {
  margin: 5px 0;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: 5em auto;
}

@media only screen and (max-width: 600px) {
  .list {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
  }
}
