.hero {
  width: 70vw;
  margin: 3em auto 0;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.hero img {
  border-radius: 50%;
  width: 4em;
}

.hero * {
  margin: 0;
}

.manatee h1 {
  color: var(--manatee);
}

.manatee * {
  margin: 5px 0;
}
