.navbar {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navleft {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.navleft img {
  width: 3em;
  height: 3em;
  cursor: pointer;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.user div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.user img {
  width: 2.15em;
  height: 2.15em;
  border-radius: 50%;
}

.content {
  max-width: 70vw;
  margin: 4em auto;
}

.footer {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 1em;
}

.footer select {
  appearance: none;
  background-color: transparent;
  color: inherit;
  border: 0px;
  font-size: inherit;
  cursor: pointer;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .navleft a {
    display: none;
  }
  .navbar {
    flex-direction: column;
  }
}
