.navbar {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navleft {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.user div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.user img {
  width: 2.15em;
  height: 2.15em;
  border-radius: 50%;
}

.content {
  max-width: 70vw;
  margin: 4em auto;
}
