.navbar {
  max-width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar :first-child {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.content {
  max-width: 70vw;
  margin: 4em auto;
}
