.header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 1em;
}

.header * {
  margin: 0;
}

.header img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}

.settings {
  margin: 5em auto;
}

.settings form {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  align-items: flex-end;
  gap: 2em;
}

.settings form * {
  display: block;
}

.settings label {
  font-size: 12px;
  margin: 5px;
}

.settings input {
  height: 3em;
  padding: 0.375em 0.5em;
  border: 4px;
  border-radius: 5px;
  background-color: var(--dark-not-black);
  color: var(--off-white);
  text-align: center;
}

.settings button {
  grid-column-start: 1;
}
